<link rel="stylesheet" href="/style.css"/>

<h1>List a space</h1>

<form action="/spaces" method="post">
  Name<br>
    <input type="text" name="name" required /><br><br>
  Description<br>
    <input type="text" name="description" maxlength="240" required /><br><br>
  Price per night (£)<br>
    <input type="number" name="price" required /><br><br>
  Available from<br>
    <input type="date" name="from" required /><br><br>
  Available to<br>
  <input type="date" name="to" required />
    <br><br>
  <input type="submit" value="List my space" />
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
