body {
  background-color: #E7EFF0;
  font-family: monospace;
  margin: 100px;
  font-size: 100%;
  text-align: center;
}

input[type=submit] {
  background-color: #95A5A6;
  border-radius: 4px;
  color: white;
  font-family: monospace;
  margin: 2px 1px;
  cursor: pointer;
}

footer { 
  text-align: center; 
  padding: 10px; 
  font-family: monospace; 
  position: absolute; 
  bottom: 0;   width: 100%; 
}
