<link rel="stylesheet" href="/style.css"/>

<h1>Book your stay!</h1>

<form action="/spaces/booking" method="post">
  Check In<br>
    <input type="date" name="from" required /><br><br>
  Check Out<br>
  <input type="date" name="to" required />
    <br><br>
  <input type="submit" value="Book" />
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
