<link rel="stylesheet" href="/style.css"/>

<h1>Your booking is confirmed from <%= @check_in %> to <%= @check_out %>! </h1>
<br>
<br>
<br>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
